a{
    text-decoration: none;
    color: #333;
}

.details{
    display: grid;
    grid-template-columns: 55% 45%;
    /* overflow-y:hidden; */
    /* margin-top: 100px; */
}

.details-list{
    grid-column : 1 / 2;
    padding: 20px;
}

.ratings li{
    border: 1px sold black;
    margin-right: 10px;
}

.configurations{
    display: flex;
    gap: 80px;
    align-items: center;
}

select{
    padding: 8px 10px;
    border-radius: 5px;
}

.rating-section{
    display: flex;
    align-items: center;
    gap: 10px;
}

.map-container{
    grid-column: 2 / 3;
    /* background-color: red; */
    /* height: calc(100vh - 85px); */
    position: relative;
}

.map-selection{
    position: fixed;
    /* top: 80px; */
    position: fixed;
    bottom:0px;
    right:0px;
}

.map{
    position: fixed;
    width: 50%;
    /* height: 100%; */
    height: calc(100vh - 85px);
    /* top: 0; */
    background-origin: 0;
    /* background-color: yellow; */
    /* height: '85vh', width: '100%', */
    /* '&:hover': { zIndex: 2 } */
}

.details-list h2{
    margin: 20px 0;
    font-weight: 600;
    /* height: 200vh; */
}

.btn-star{
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

.cards{
    margin: 20px 0;
    border-bottom: 1px solid rgb(214, 214, 214);
}

.card{
    display: grid;
    grid-template-columns: 40% 60%;
    /* gap: 10px; */
}

.card-img{
    grid-column: 1/2;
    /* background-color: cadetblue; */
    padding: 10px;
}

.card-img img{
    border-radius: 10px;
    background: center center no-repeat;
    background-size: cover; 
    width: 100%;
}

.card-detail{
    grid-column: 2/3;
    /* background-color: coral; */
    padding: 10px;
}

/* rating color */
.yellow{
    /* color: rgb(223, 202, 20); */
    color: gold;
}

.rating{
    display: flex;
}

/* loading animation */
/* credit : https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */

.loading-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.loading {
    width:50px;
    height:24px;
    background: 
      radial-gradient(circle closest-side,currentColor 90%,#0000) 0%   50%,
      radial-gradient(circle closest-side,currentColor 90%,#0000) 50%  50%,
      radial-gradient(circle closest-side,currentColor 90%,#0000) 100% 50%;
    background-size:calc(100%/3) 12px;
    background-repeat: no-repeat;
    animation:loading 1s infinite linear;
  }
  @keyframes loading {
      20%{background-position:0%   0%, 50%  50%,100%  50%}
      40%{background-position:0% 100%, 50%   0%,100%  50%}
      60%{background-position:0%  50%, 50% 100%,100%   0%}
      80%{background-position:0%  50%, 50%  50%,100% 100%}
  }