.navbar{
    height: 80px;
    box-shadow: 0 0 4px rgb(0 0 0 / 25%);
    display: flex;
    align-items: center;
    padding: 10px 20px;
    z-index: 100;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    justify-content: space-between;
}

.search{
    background-color: #f5f5f5;
    width: 600px;
    margin: 0 10px;
    padding: 0.5rem 0.8rem;
    border-radius: 20px;
    /* box-shadow: 0 4px 4px rgb(0 0 0 / 25%); */
}

.search form{
    display: flex;
}

.search  input{
    flex-grow: 1;
    padding: 0.5rem;
    border: transparent;
    background-color: #f5f5f5;
}